# webserver
fastapi
uvicorn[standard]
sqlalchemy # ORM
psycopg2-binary # PostgreSQL driver 
python-jose[cryptography] # JWT encode/decode
bcrypt # password hashing
python-dotenv # load .env
pydantic # data validation

# ai tool
langchain-openai
